/* @import url(./font/CabinetGrotesk/Fonts/WEB/css/cabinet-grotesk.css);
@import url(./font/Satoshi/Fonts/WEB/css/satoshi.css); */

html {
  scroll-behavior: smooth;
}
.card {
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.05);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.7px);
-webkit-backdrop-filter: blur(7.7px);
border: 1px solid rgba(255, 255, 255, 0.3); */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
/* 
.container {
  background-color: #181818;
  background-image: radial-gradient(at 47% 33%, hsl(0, 0%, 37%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(240, 6%, 14.000000000000002%) 0, transparent 55%);
} */
